{% extends 'base.html' %} {% block head%}
<title>Home</title>
{% endblock %} {% block body %}
<div class="indexBody">
    <div class="wrapper">
        <div class="static-text">Welcome</div>
        <ul class="dynamic-text">
            <li><span>Friend.</span></li>
            <li><span>Student.</span></li>
            <li><span>Teacher.</span></li>
            <li><span>Learner.</span></li>

        </ul>
    </div>
    <div class="content-index">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore amet error ut quam aliquid explicabo inventore consequatur ad omnis harum voluptates at, ullam, delectus saepe doloribus quos mollitia soluta quod.
    </div>
</div>
{% endblock %}